@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-primary: #0045e5;
  --color-background-light: #f8f6f6;
  --color-background-dark: #0f172a;
  --font-display: "Public Sans", sans-serif;
  --font-sans: "Public Sans", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}